@charset "utf-8";


.changecolor {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #DF6567;
}

.tilebg {
    background-image: url(../images/tile.png);
}
.changefont {
    border: thick dotted #E3149B;
}
.mered {
    color: #F71014;	
}
.mybox {
    background-color: #28BDB7;
    width: 240px;
    height: 240px;
}
   .myboxzozo {
    background-color: #C528D7;
    width: 240px;
    padding-top: 10px;
    margin-left: 100px;
    height: 240px;
}
.navbar-brand {
	background-color:aqua
	
}
.nav-link {
	background-color:antiquewhite
	
}


