@charset "utf-8";


.changecolor {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #DF6567;
}

.tilebg {
    background-image: url(../images/tile.png);
}
.changefont {
    border: thick dotted #E3149B;
}
.mered {
    color: #F71014;	
}

.navbar-brand {
	background-color:aqua
	
}
.nav-link {
	background-color:antiquewhite
	
}
.Sanna1{
	
}
.Sanna2{
	
}
.Sanna3 {
    float: left;
}
